@{
  Layout = "_Layout";
}
<div class="container">
  <div class="jumbotron">
    <h3>HomePage</h3>
  </div>
  <div ><img id="photo" src = "https://techcrunch.com/wp-content/uploads/2017/01/1-3-173331-r3-150dpi.jpg" width="600" ></div>
  <div class="CenterButtons">
    <button class="btn btn-outline-dark">@Html.ActionLink("Engineer","Index", "engineers")</button>
    <button class="btn btn-outline-dark">@Html.ActionLink("Machine","Index", "machines")</button>
  </div>
</div>



</div>